@import url('reset.css');

.container {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.header {
  margin: 10px;
}

.body {
  margin: 10px;
}

.card {
  padding: 40px 20px;
}

h1 {
  color: rgb(14, 14, 14);
  font-size: 42px;
  font-weight: 900;
  padding: 40px 50px 20px;
} 

h2 {
  color: rgb(27, 27, 27);
  font-size: 38px;
  font-weight: 900;
  padding: 20px 20px 15px;
}

h3 {
  color: rgb(51, 51, 51); 
  font-size: 30px;
  padding: 20px;
}

.title-desc { 
  color: rgb(88, 88, 88); 
  font-size: 22px; 
  padding: 20px 40px;
}

img {
  width: 700px;
  margin: 30px;
 }

.card-desc {
  color: rgb(83, 83, 83);
  font-size: 22px;
  padding: 10px;
}

.link {
  color: rgb(0, 4, 255);
  font-size: 20px;
  padding: 20px;
}

div > p {
  line-height: 1.25;
  padding: 20px;
}

table,
th,
td {
  border: 1px solid rgb(0, 0, 0);
}

td {
  background-color: #5c8f23;
}